{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ post.title }}</h1>

  <div class = "postlist">
    <p1><strong>Author:</strong><p1> 
    <a href="{% url 'posts-by-author' post.author.pk %}"> {{ post.author }}</a>
  </div>
  <p><strong>Date:</strong> {{ post.post_date }}</p>  
  <p><strong>Category:</strong> {{ post.category.all|join:", " }}</p>  
  <p><strong>Summary:</strong> {{ post.summary }}</p>
  <p><strong>Text: </strong> {{ post.text }}</p> 
  <p style="white-space:pre-wrap;">{{ blog.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
  
    <hr class ="n2">

  <div class = "comments">

  <h3>Comments</h3>
   
  {% for commentss in post.comment_set.all %}
  <p><b><i>{{commentss.author}} ({{commentss.post_date}}): </i></b> {{commentss.comment}} </p>
  {% endfor %}
  <hr>
  {% if user.is_authenticated %}
    <a href="{% url 'post-comment' post.id %}">Add a new comment</a></p>
  {% else %}
    <p><a href="{% url 'login'%}?next={{request.path}}">Login</a> to add a new comment</p>
  {% endif %} 
  
  </div>
  {% endblock %}